<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://dash100410:_oAykQ79P_fI@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB

'Connected: dash100410@BLUDB'

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [3]:
%sql SELECT COUNT(id) as "Total Crimes" FROM "CRIME DATA"

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [37]:
%sql SELECT * FROM "CRIME DATA" LIMIT 10

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(2103277, 'HH337319', '04/28/2002 02:30:00 PM', '023XX N KEATING AVE', '910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'STREET', 'FALSE', 'FALSE', 2522, 25, 31, 19, '7', 1144344, 1915147, 2002, '02/28/2018 03:56:25 PM', Decimal('41.92318331'), Decimal('-87.74505509'), '(41.923183306, -87.745055091)'),
 (2169996, 'HH423186', '06/06/2002 12:15:00 AM', '046XX S CHRISTIANA AVE', '910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'STREET', 'FALSE', 'FALSE', 821, 8, 14, 58, '7', 1154837, 1873772, 2002, '02/28/2018 03:56:25 PM', Decimal('41.80944182'), Decimal('-87.70760798'), '(41.809441824, -87.707607982)'),
 (5733472, 'HN543219', '08/21/2007 08:30:00 PM', '061XX S MAPLEWOOD AVE', '910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'STREET', 'FALSE', 'FALSE', 825, 8, 15, 66, '7', 1160422, 1863958, 2007, '02/10/2018 03:50:01 PM', Decimal('41.78239751'), Decimal('-87.68739352'), '(41.782397506, -87.687393515)'),
 (10707046, 'HZ463811', '10/06/2016 01:30:00 PM', '0000X W CTA OHARE PLATFORM ST', '1150', 'DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 'CTA TRAIN', 'FALSE', 'FALSE', 1654, 16, 41, 76, '11', 1100955, 1934905, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97810845'), Decimal('-87.90412276'), '(41.978108446, -87.904122758)'),
 (5904817, 'HN702776', '11/09/2007 01:50:00 PM', '005XX N KINGSBURY ST', '1150', 'DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 'RESTAURANT', 'FALSE', 'FALSE', 1831, 18, 42, 8, '11', 1173193, 1903598, 2007, '02/28/2018 03:56:25 PM', Decimal('41.89090025'), Decimal('-87.63939736'), '(41.890900247, -87.639397357)'),
 (7195847, 'HR607189', '10/25/2009 12:10:00 PM', '059XX N LINCOLN AVE', '1210', 'DECEPTIVE PRACTICE', 'THEFT OF LABOR/SERVICES', 'RESTAURANT', 'FALSE', 'FALSE', 2011, 20, 40, 2, '11', 1155105, 1939170, 2009, '02/28/2018 03:56:25 PM', Decimal('41.98889458'), Decimal('-87.70486783'), '(41.988894576, -87.704867826)'),
 (1826250, 'G654957', '10/20/2001 12:00:00 AM', '016XX E 95 ST', '1120', 'DECEPTIVE PRACTICE', 'FORGERY', 'BANK', 'FALSE', 'FALSE', 431, 4, None, None, '10', 1189065, 1842275, 2001, '08/17/2015 03:03:40 PM', Decimal('41.72225893'), Decimal('-87.58307441'), '(41.722258934, -87.583074406)'),
 (3761051, 'HL131736', '01/13/2005 12:00:00 PM', '078XX S WINCHESTER AVE', '1150', 'DECEPTIVE PRACTICE', 'CREDIT CARD FRAUD', 'RESIDENCE', 'FALSE', 'TRUE', 611, 6, 18, 71, '11', 1164718, 1852772, 2005, '02/10/2018 03:50:01 PM', Decimal('41.75161195'), Decimal('-87.67195845'), '(41.751611954, -87.671958451)'),
 (5713696, 'HN519755', '08/10/2007 12:40:00 AM', '023XX W GRAND AVE', '1220', 'DECEPTIVE PRACTICE', 'THEFT OF LOST/MISLAID PROP', 'STREET', 'TRUE', 'FALSE', 1313, 12, 26, 24, '11', 1160756, 1903423, 2007, '02/28/2018 03:56:25 PM', Decimal('41.89068696'), Decimal('-87.68507699'), '(41.890686955, -87.685076991)'),
 (1803248, 'G629024', '06/10/2001 12:00:00 AM', '046XX N DELPHIA AV', '1130', 'DECEPTIVE PRACTICE', 'FRAUD OR CONFIDENCE GAME', 'OTHER', 'FALSE', 'FALSE', 1614, 16, None, None, '11', 1117909, 1930160, 2001, '08/17/2015 03:03:40 PM', Decimal('41.96483755'), Decimal('-87.84187255'), '(41.964837552, -87.841872545)')]

### Problem 3

##### How many crimes involve an arrest?

In [38]:
%sql SELECT COUNT(arrest) as "Crimes Involves Arrest" FROM "CRIME DATA" WHERE arrest="TRUE"

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [39]:
%sql SELECT DISTINCT(PRIMARY_TYPE) AS "PRIMARY TYPE", location_description AS "GAS STATION LOCATION" FROM "CRIME DATA"  WHERE location_description='GAS STATION'

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('ROBBERY', 'GAS STATION'),
 ('NARCOTICS', 'GAS STATION'),
 ('CRIMINAL TRESPASS', 'GAS STATION'),
 ('THEFT', 'GAS STATION')]

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [40]:
%sql SELECT COMMUNITY_AREA_NAME FROM SOCIOECONOMIC WHERE COMMUNITY_AREA_NAME LIKE'B%'

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [41]:
%sql select NAME_OF_SCHOOL from "PUBLIC SCHOOLS" where HEALTHY_SCHOOL_CERTIFIED=True AND COMMUNITY_AREA_NUMBER between 10 and 15

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

### Problem 7

##### What is the average school Safety Score?

In [42]:
%sql SELECT AVG(SAFETY_SCORE) AS "AVERAGE SAFETY SCORE" FROM "PUBLIC SCHOOLS"

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [43]:
%sql SELECT COMMUNITY_AREA_NAME, AVG(COLLEGE_ENROLLMENT) as AVG_ENROLLMENT FROM "PUBLIC SCHOOLS" group by COMMUNITY_AREA_NAME order by AVG_ENROLLMENT desc LIMIT 5

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [44]:
%sql SELECT  COMMUNITY_AREA_NAME AS "COMMUNITY AREA NAME", SAFETY_SCORE AS "LEAST SAFETY SCORE" FROM "PUBLIC SCHOOLS" WHERE SAFETY_SCORE = (SELECT MIN(SAFETY_SCORE) FROM "PUBLIC SCHOOLS")

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK', 1)]

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [35]:
%sql SELECT E.COMMUNITY_AREA_NAME, E.PER_CAPITA_INCOME FROM "PUBLIC SCHOOLS" P, SOCIOECONOMIC E WHERE E.COMMUNITY_AREA_NUMBER =P.COMMUNITY_AREA_NUMBER  and P.SAFETY_SCORE = 1

 * ibm_db_sa://dash100410:***@dashdb-entry-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Washington Park', 13785)]

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).